.p-field {
  margin-bottom: .7rem;
  width: 100%;
}

.p-field label {
  font-size: 12px;
  font-weight: bold;
  color: #808080;
  display: block;
  margin-bottom: 0.2rem;
}

::ng-deep .p-calendar {
  width: 100%;
}

.p-field ::ng-deep .p-component {
  min-width: 100%;
  height: 55px;
  border-radius: 10px;
  border-color: #ffffff;
  padding: .7rem !important;
  box-shadow: 0 0 7pt 2pt #2D2D2D0D;
}


.p-input-icon-left ::ng-deep .p-inputtext {
  padding-left: 2.3rem;
}

.p-input-icon-right ::ng-deep .p-inputtext {
  padding-left: 2.3rem;
}

.required {
  color: #f16b6b;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}