// @import "assets/scss/helpers/variables";

.finance {
    padding: 5rem 1.5rem;

    img {
        margin-bottom: 2rem;
    }

    .title {
        font-weight: bold;
        font-size: 1.2rem;
        color: #46433F;
    }

    .comingsoon {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        margin: 1rem 0;
        color: #767676;

        i {
            font-size: 2rem;
        }

        div {
            color: #767676;
        }
    }

    .text {
        color: #767676;
        line-height: 25px;
        font-size: 1.1rem;
    }

}