$main-font-size: 14;

$primary-color: #1E376D;
$primary-color-light: #9BABC5;
$secound-color: #69ac47;
$text-light-gray: #777;
$light-gray: #808080;
$red-color: #f16b6b;
$red-dark-color: #b95454;
$blue-dark: #222943;

$blue-light: #C6D7FC;

$white: #ffffff;
$black: #000000;

$layout-background: #F7F8FD;

$text:#46433F;
$subtitle:#888888;
$lightText:#767676;

$defaultBlueBtn:#1E376D;
$hoverColor:#F4F5F8;
$dataGround: rgb(0, 0, 0, 0.05);